<div class="content">
    <div class=" row mt-5 ml-auto mr-auto">
        <ol class=" breadcrumb bg-transparent ml-3">
            <li class=" breadcrumb-item active"><a routerLink="/administracion/clases/gestionclase"> Gestion de Clases
                </a></li>
            <li class=" breadcrumb-item">Grupos </li>
        </ol>
        <div class="card">
            <div class=" card-body">
                <div class="col">
                    <p class="text-center">PRIMARIA</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class=" col-md-12">
            <div class="card">
                <div class="card-header">
                    <p class="text-center">Grados</p>
                </div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>