<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a
          class=" nav-link" 
          href="https://www.facebook.com/profile.php?id=100029329520655"
        >
        <button class=" btn btn-icon btn-facebook">
          <i class=" fab fa-facebook-f"> </i>
        </button> <span class="pl-2">Facebook personal</span>
        </a>
      </li>
      <li class=" nav-item">
        <a
          class=" nav-link"
          href="https://twitter.com/bre_dev"
        >
        <button class=" btn btn-icon btn-twitter">
          <i class=" fab fa-twitter"> </i>
        </button><span class="pl-2">Twitter personal</span>
        </a>
      </li>
    </ul>
    <div class=" copyright">
      &copy; {{ test | date:'fullDate' }} 
    </div>
  </div>
</footer>
