
<div class="row p-3">
    <div class="col-12 col-lg-2 form-group pt-2">
            <button type="button" class="btn btn-info btn-lg btn-block"  id="btnFilter" (click)="emitirFiltro()">Filtrar</button>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <label>Nivel</label>
        <div class="form-group">
            <angular2-multiselect name="selecNivel" [data]="dataNivel" [(ngModel)]="selecNivel"
                [settings]="settingsNivel" (onSelect)="onNivelSelect($event)">
            </angular2-multiselect>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <label>Grado</label>
        <div class="form-group"> 
            <angular2-multiselect name="selecGrado" [data]="dataGrado" [(ngModel)]="selecGrado"
                [settings]="settingsGeneral" (onSelect)="onGradoSelect($event)">
            </angular2-multiselect>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <label>Seccion</label>
        <div class="form-group">
            <angular2-multiselect name="selecSeccion" [data]="dataSeccion" [(ngModel)]="selecSeccion"
                [settings]="settingsGeneral" (onSelect)="onSeccionSelect($event)">
            </angular2-multiselect>
        </div>
    </div>
</div>